p {
  font-size: large;
  line-height: 30px;
}

.text-white {
  color: white;
}


.homeBg {
  background: url(../Images/Homebg.png) center no-repeat;
  background-size: cover;
  color: white;
}

.footerBg {
  background: url(../Images/footer-bg.jpg) center no-repeat;
  background-size: cover;
  color: white;
}

.Login {
  background: url(../Images/Login.png) center no-repeat;
  background-size: cover;
  color: white;
}

.contact {
  background: url(../Images/contact.png) center no-repeat;
  background-size: cover;
  color: white;
}
.About {
  background: url(../Images/About-US.jpg) center no-repeat;
  background-size: cover;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.small {
  padding: 2px 8px;
  font-size: 12px;
}
